.notes{

margin-top:60px;

}

.box{

width:60%;

margin:20px auto;

padding:18px;

background:#fff4df;

border-radius:15px;

font-size:20px;

box-shadow:0 5px 12px rgba(0,0,0,.1);

}

.letter{

margin-top:60px;

padding:30px;

width:70%;

margin-left:auto;

margin-right:auto;

background:#ffe6dc;

border-radius:20px;

}

.heading{

margin-top:50px;

margin-bottom:20px;

}

.confetti{

position:fixed;

width:12px;

height:12px;

top:-20px;

animation:fall 3s linear forwards;

}

@keyframes fall{

0%{

transform:translateY(0) rotate(0deg);

}

100%{

transform:translateY(110vh) rotate(720deg);

}

}